.buttons {
    background-color: var(--theme-color);
	border-radius:7px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#242424;
	font-size:13px;
	font-weight:bold;
    padding: 15px 20px;
    margin: 16px 0;
	text-decoration:none;
    outline: 0;
}

.buttons:hover {
    background-color: var(--theme-color-hover);
}

.buttons:active {
	position:relative;
	top:1px;
}

#form {
    display: block;
    position: fixed;
    text-align: center;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.051);
    padding-top: 60px;
}

#form-content {
    background-color: #fefefe;
    margin: 50px auto 0 auto;
    padding: 15px;
    padding-top: 24px;
    z-index: 3;
    border-radius: 4%;
    width: 462px;
}

#form input:not([type="radio"]), #form textarea, #form select {
    font-family: inherit;
    width: 60%;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

#form textarea {
    max-width: 60%;
}

#form select {
    width: 65%;
}